<footer class="navbar-default navbar-fixed-bottom">
    <div class=container-fluid>
        <div class="span12 text-center"><span>Made with <em class=love-color>&#9829;</em> by <a
                    href=https://github.com/thedevsaddam target=_blank class=text-muted>thedevsaddam</a> | Generated
                at: 2020-01-10 09:20:07 by <a href=https://github.com/thedevsaddam/docgen target=_blank
                    class=text-muted>docgen</a></span></div>
    </div>
</footer>