<!--Main Navigation-->
<header>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark pink scrolling-navbar">
        <a class="navbar-brand" href="#"><strong>KITENGE API</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Kiosks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Vendors</a>
                </li>
            </ul>
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a href="/developer" class="nav-link">DEVELOPER</i></a>
                </li>
                <li class="nav-item">
                    <a href="https://www.facebook.com/" class="nav-link"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li class="nav-item">
                    <a href="https://twitter.com/ma_za_kpe" class="nav-link"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="nav-item">
                    <a href="https://www.linkedin.com/in/maku-mazakpe-700a3a165/" class="nav-link"><i
                            class="fab fa-linkedin-in"></i></i></a>
                </li>
                <li class="nav-item">
                    <a href="https://obscure-taiga-97508.herokuapp.com/" class="nav-link"><i
                            class="fab fa-link"></i></i></a>
                </li>
            </ul>
        </div>
    </nav>

</header>
<!--Main Navigation-->