<!DOCTYPE html>
<html>

<% include partials/head %>

<body>

    <!-- header -->
    <% include partials/header %>
    <!-- header -->

    <!-- main -->
    <!--Main Layout-->
    <main>
        <div class="container" style="height:1300px;">
            <div class="row mt-5 pt-5">
                <div class="col-sm-9">
                    <h2>PAGE UNDER CONSTRUCTION.BUT YOU CAN CLICK ON THE DEVELOPER LINK TO VIEW DOCUMENTATION</h2>
                    <h5>Busy adding the authentication logic to the app.</h5>
                </div>
                <div class="col-sm-3">
                    <h2>PAGE UNDER CONSTRUCTION.BUT YOU CAN CLICK ON THE DEVELOPER LINK TO VIEW DOCUMENTATION</h2>
                    <h5>Busy adding the authentication logic to the app.</h5>
                </div>
            </div>
        </div>
    </main>
    <!--Main Layout-->
    <!-- main -->

    <!-- footer -->
    <% include partials/footer %>
    <!-- footer -->


    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js">
    </script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.0/js/mdb.min.js">
    </script>
    <!-- javascript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
    </script>

</body>

</html>